<h1 mat-dialog-title>Cell reward</h1>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <mat-label>Reward type</mat-label>
        <mat-select formControlName="reward" (selectionChange)="onChanged($event)">
            <mat-option *ngFor="let reward of rewards" [value]="reward.id">
                {{reward.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="rewardValue.rewardTypeId != 0 && rewardValue.rewardTypeId != 1">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" type="number" formControlName="amount">
    </mat-form-field>
    <mat-form-field *ngIf="rewardValue.rewardTypeId == 1">
        <mat-label>Id</mat-label>
        <input matInput type="number" formControlName="catapultId">
    </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSave()" cdkFocusInitial>Ok</button>
</div>