<div style="text-align:center">
    <h1> {{ title }} </h1>
    <form [formGroup]="options">
        <mat-form-field>
            <input matInput placeholder="# Rows" type="number" formControlName="rows">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="# Columns" type="number" formControlName="columns">
        </mat-form-field>
        <button mat-stroked-button (click)="drawMaze()">Draw Maze</button>
        <button mat-stroked-button (click)="recalculatePath()">Recalculate Path</button>
        <mat-checkbox (change)="onDrawPathChanged($event)">Draw Path</mat-checkbox>
    </form>
    <div id="draw_area" #drawArea (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"></div>
</div>